<%= render "user_events", user: @user%>
<h2 class="title">Attended Events</h2>
<% current_time = Time.now%>
<section class="section">
  <h3 class="title">Future Events</h3>
  <% future_events =  Event.joins(:attendances).where("attendances.attendee_id = ?", @user.id).where("events.date > ?", current_time) %>
  <% if future_events.exists? %>
    <% future_events.each do |event|%>
      <%= render "events/event", event: event%>
    <% end %>
  <% end %>
</section>
<section class="section">
  <h3 class="title">Past Events</h3>
  <% past_events =  Event.joins(:attendances).where("attendances.attendee_id = ?", @user.id).where("events.date < ?", current_time) %>
  <% if past_events.exists? %>
    <% past_events.each do |event|%>
      <%= render "events/event", event: event%>
    <% end %>
  <% end %>
</section>
