<section class="section">
  <h1 class="title">Events</h1>
  <br>
  <br>
  <h2 class= "subtitle">Past Events</h2>
  <% @events.past.each do |event|%>
    <%= render "event", event: event%>
  <% end %>
  <br>
  <br>
  <h2 class= "subtitle">Future Events</h2>
  <% @events.future.each do |event|%>
    <%= render "event", event: event%>
  <% end %>
</section>
